
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <title><%=pageTitle%></title>
  <!--引入css文件-->
  <!--图标库-->
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css">
  <%- css(['css/hiya.css','css/post.css','css/index-post.css','css/archive.css','css/side.css']) %> 
</head>
<body>
<%-partial('_partials/side')%>

 

<div id="content-outer">
  <div id="content-inner">
    <%- body %>
  </div>
</div>

<!-- <div id="bottom-outer">
  <div id="bottom-inner">
    Site by <%=config.author%> using
    <a href="http://hexo.io">hexo blog framework</a>.
    <br>
    <a href="<%=config.root%>">Home</a>
  </div>
</div> -->

<!--引入js文件-->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<%- js([ 'js/hiya.js','js/jquery.pjax.js']) %>

</body>
</html>
