<%
<!--用来存储一级分类名-->
var arr=[];
<!--用来存储二级分类名-->
var arr2=[];
<!--用来存储去重后的一级分类名-->
var arred=[];
<!--用来存储去重后的二级分类名-->
var arr2ed=[];
<!--去重-->
function unique(arr){
    return Array.from(new Set(arr));
}
<!--判断是否有重复的函数-->
function usedornot(y,arrs){
    var a=0;
    for(var u=0;u<arrs.length;u++){
        if(y === arrs[u]) {
            a=a+1;
            return false;
        }
    }
    if(a===0) {
        return true;
    }
};

%>

<div id="side">
    <div id="menu-outer">
        <div id="menu-inner">
          <% Object.keys(theme.menu).forEach(key => { %>
            <a href="<%=theme.menu[key]%>"><%=key%></a>
          <% }); %>
        </div>
      </div>
    <div id="book">
        <ul id="menuDiv" class="bMenuList">
            <% if(site.categories.length){ %>
            <% site.posts.sort('categories').each(posts => {%>
            <%if(posts.categories.data.length==2){%>
            <% if(usedornot(posts.categories.data[0].name,arr)==true){%>
            <li class="bMenuTitle">
                <span class="oneLevel">
                    <%=posts.categories.data[0].name%>
                </span>
                <ul class="oneLevelList">
                    <% site.posts.sort('date', -1).each(posty => { %>
                    <%if(posty.categories.data.length==2){%>
                    <%if(posty.categories.data[0].name===posts.categories.data[0].name){%>
                    <%if(usedornot(posty.categories.data[1].name,arr2)===true){%>
                    <li class="bMenuTitle">
                        <span class="oneLevel">
                            <%=posty.categories.data[1].name%>
                        </span>
                        <ul class="oneLevelList">
                            <% site.posts.sort('date', -1).each(postys => { %>
                            <%if(postys.categories.data.length==2){%>
                            <%if(postys.categories.data[1].name===posty.categories.data[1].name){%>
                            <li >
                                <a href="<%= url_for(postys.path)%>"><%=postys.title%></a>
                            </li>
                            <%}%>
                            <%}%>
                            <% }); %>
                        </ul>
                    </li>
                    <%};%>
                    <% arr2.push(posty.categories.data[1].name);%>
                    <%}%>
                     <%}%>
                    <% }); %>
                </ul>
            </li>
            <%};%>
            <% arr.push(posts.categories.data[0].name);%>
            <%};%>
            <% }); %>
            <%}%>
        </ul>
    </div>

</div>